In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
os.getcwd()

'd:\\git_local_repository\\yangoos57\\ML\\[inria] scikit-learn course'

## Encoding of categorical variables

### ordinal encoding

### one-hot encoding

In [2]:
adult_df = pd.read_csv('data/phpMawTba.csv').drop(columns='education-num')

target = adult_df['class']
data = adult_df.drop(columns=['class'])

In [3]:
from sklearn.compose import make_column_selector as selector

categorical_columns_selector = selector(dtype_include=object)
categorical_columns = categorical_columns_selector(data)
categorical_columns

# # or 

categorical_columns = [x for x in data.columns if adult_df[x].dtype == 'object']

categorical_columns

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native-country']

In [4]:
data_categorical = data[categorical_columns]
data_categorical.head()

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States
4,?,Some-college,Never-married,?,Own-child,White,Female,United-States

### Encoding ordinal categories

* The most intutive strategy is to encode each category with a different number. 

### bracket을 두 개 쓰면 Dataframe으로 불러온다.

In [5]:
from sklearn.preprocessing import OrdinalEncoder

education_column = data_categorical[['education']]

encoder = OrdinalEncoder()
education_encoded = encoder.fit_transform(education_column)
education_encoded

array([[ 1.],
       [11.],
       [ 7.],
       ...,
       [11.],
       [11.],
       [11.]])

In [6]:
encoder.categories_

[array([' 10th', ' 11th', ' 12th', ' 1st-4th', ' 5th-6th', ' 7th-8th',
        ' 9th', ' Assoc-acdm', ' Assoc-voc', ' Bachelors', ' Doctorate',
        ' HS-grad', ' Masters', ' Preschool', ' Prof-school',
        ' Some-college'], dtype=object)]

In [7]:
data_encoded = encoder.fit_transform(data_categorical)
data_encoded[:5]

array([[ 4.,  1.,  4.,  7.,  3.,  2.,  1., 39.],
       [ 4., 11.,  2.,  5.,  0.,  4.,  1., 39.],
       [ 2.,  7.,  2., 11.,  0.,  4.,  1., 39.],
       [ 4., 15.,  2.,  7.,  0.,  2.,  1., 39.],
       [ 0., 15.,  4.,  0.,  3.,  4.,  0., 39.]])

### 알아두기
OrdinalEncoder uses a lexicographical(사전 순서대로) strategy to map string category labels to integers.

ex) Size 'S', 'M', 'L', 'XL' => 2, 1, 0, 3 by following the alphabetical OrdinalEncoder

In [8]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)
education_encoded = encoder.fit_transform(education_column)

In [9]:
education_encoded

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

### Sparse matrix

행열에 포함된 0이 많은 경우, 데이터 공간을 아끼기 위해 필요한 정보만 수록한 행렬을 말한다.

![photo](data/6.png)

In [10]:
feature_names = encoder.get_feature_names(input_features=['education'])
education_encoded = pd.DataFrame(education_encoded,columns=feature_names)
education_encoded

C:\Users\679oo\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48839,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
48841,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
data_encoded = encoder.fit_transform(data_categorical)

In [12]:
columns_encoded = encoder.get_feature_names_out(data_categorical.columns)
pd.DataFrame(data_encoded, columns=columns_encoded)

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48838,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48839,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48840,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
48841,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### Choosing encoding strategy

* OneHotEncoder는 linear model에 좋다. 
* OrdinalEncoder는 tree-based models에 좋다. 

Linear models은 순서가 잘못된 카테고리(misordered categories)에 Tree models보다 더 영향을 많이 받는다.

물론 OrdinalEncoder를 쓸 순 있지만 몇가지 주의해서 사용해아한다.
* 해당 category가 ordinal이어야 함.
* encoded category와 원래 순서가 같아야함. 

OneHotEncoder는 column이 많이 생기기 때문에 tree 모델 계산에 드는 비용이 늘어나게 된다. 따라서 nominal인 attribute에도 ordinalencoder를 추천한다.

### Pipeline에 Encoder 포함하기

In [13]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression

model = make_pipeline(
    OneHotEncoder(handle_unknown='ignore'), LogisticRegression(max_iter=500)
)

### handle_unknown

* OneHotEncoder에 포함되는 handle_unknown은 train_set에는 포함됐는데 test_set에는 포함되지 않아서 발생하는 오류를 없애는 용도로 사용된다.

* 어떤 membership 개수가 1개인데, train_set에 포함되지 않고 test_set에 포함되는 경우에는, 해당 membership은 encoding이 되지 않은 체로 남아있게 된다.

* 왜냐하면 make_pipeline을 통해 데이터가 train 된 후 그 모델을 가지고 testing을 진행하는 것이기 때문이다.

![photo](data/5.png)

In [14]:
from sklearn.model_selection import cross_validate
cv_results= cross_validate(model, data_categorical, target)
cv_results

{'fit_time': array([3.0549016 , 1.95256853, 1.89158463, 2.3199544 , 2.22608924]),
 'score_time': array([0.08644485, 0.08166909, 0.07385516, 0.07588482, 0.08471704]),
 'test_score': array([0.83222438, 0.83560242, 0.82872645, 0.83312858, 0.83466421])}

In [15]:
scores = cv_results['test_score']
print(f' score mean : {scores.mean(): .3f}, score std : {scores.std(): .3f}')

 score mean :  0.833, score std :  0.002

### Exercise

In [16]:
from sklearn.compose import make_column_selector as selector

categorical_columns = selector(dtype_include='object')
categorical_columns_selector = categorical_columns(data)
data_categorical = data[categorical_columns]

In [17]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LogisticRegression

model = make_pipeline(OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value = -1 ), LogisticRegression(max_iter=500))

In [18]:
from sklearn.model_selection import cross_validate

cv_result = cross_validate(model, data_categorical, target, error_score='raise')
cv_result

{'fit_time': array([1.1448431 , 1.08406806, 1.11679602, 0.95446897, 0.73432469]),
 'score_time': array([0.10227561, 0.09878707, 0.0787673 , 0.07945442, 0.06002498]),
 'test_score': array([0.75514382, 0.75555328, 0.75573301, 0.75358313, 0.75788288])}

In [19]:
from sklearn.preprocessing import OneHotEncoder
model = make_pipeline(OneHotEncoder(handle_unknown='ignore'), LogisticRegression(max_iter=500))

In [20]:
cv_result = cross_validate(model, data_categorical, target )

In [21]:
cv_result

{'fit_time': array([1.41253281, 1.25485945, 1.25681615, 1.98606658, 1.09955859]),
 'score_time': array([0.03338957, 0.03629804, 0.05181813, 0.08128047, 0.03550386]),
 'test_score': array([0.83222438, 0.83560242, 0.82872645, 0.83312858, 0.83466421])}

### Transformer : Using numerical and categorical variables together

In [22]:
from sklearn.compose import make_column_selector as selector

numerical_columns_selector = selector(dtype_exclude = 'object')
categorical_columns_selector = selector(dtype_include = 'object')

numerical_column = numerical_columns_selector(data)
categorical_column = categorical_columns_selector(data)

In [24]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

categorical_preprocessor = OneHotEncoder(handle_unknown='ignore')
numerical_preprocessor = StandardScaler()

In [25]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer([
    ('one-hot-encoder', categorical_preprocessor, categorical_columns),
    ('standard_scaler', numerical_preprocessor, numerical_column)
    ])

### Columntransformer 작동 원리
* ColumnTransformer([('column 제목', 'preprocessor', 'column 명 ')])
![photo](data/7.png)

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline 
from sklearn import set_config
set_config(display='diagram')
model = make_pipeline(preprocessor, LogisticRegression(max_iter=500))
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('one-hot-encoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x0000020ABAF30880>),
                                                 ('standard_scaler',
                                                  StandardScaler(),
                                                  ['age', 'fnlwgt',
                                                   'capital-gain',
                                                   'capital-loss',
                                                   'hours-per-week'])])),
                ('logisticregression', LogisticRegression(max_iter=500))])

In [27]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(data, target, random_state=42)

In [28]:
_ = model.fit(data_train, target_train)

In [31]:
(model.predict(data_test) == target_test).mean()

0.8582425681762346

In [32]:
from sklearn.model_selection import cross_validate
cv_result = cross_validate(model, data, target, cv=5)
cv_result

{'fit_time': array([1.88789725, 1.59824586, 2.49867463, 1.86383438, 1.78309011]),
 'score_time': array([0.04785728, 0.06697297, 0.05750132, 0.0501852 , 0.06561947]),
 'test_score': array([0.85228785, 0.85105947, 0.84930385, 0.85257985, 0.85667486])}

### Fitting a more powerful model

다른 모델의 performance를 살펴보고 더 나은 모델이 있을지 점검해보자.

* For tree-based models, the handling of numerical and categorical variables is simpler than for linear models.
  * We do not need to scale the numerical features
  * using an ordinal encoding for the categorical variables is fine even if the encoding results in an arbitray ordering.

In [33]:
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.preprocessing import OrdinalEncoder

categorical_preprocessor = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value= -1)

preprocessor = ColumnTransformer([('categorical', categorical_preprocessor, categorical_columns)], remainder="passthrough")

model = make_pipeline(preprocessor, HistGradientBoostingClassifier())

### HistGradientBoostingClassifier
매우 좋다고 한다.

In [34]:
_ = model.fit(data_train, target_train)

model.score(data_test, target_test)

0.8797805257554664

### Exercise

In [47]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_validate

numerical_preprocessor = StandardScaler()
categorical_preprocessor = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value = -1)

preprocessor = ColumnTransformer([
    ('numerical', numerical_preprocessor, numerical_column),
    ('categorical', categorical_preprocessor, categorical_column)
])
model = make_pipeline(preprocessor, HistGradientBoostingClassifier())
cv_result = cross_validate(model,data,target)
cv_result

{'fit_time': array([1.55848622, 1.43981433, 1.58595634, 1.43365455, 1.22896409]),
 'score_time': array([0.0648582 , 0.06629252, 0.09653473, 0.07640481, 0.06157136]),
 'test_score': array([0.8732726 , 0.87235132, 0.8729525 , 0.87305487, 0.87776413])}

In [48]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline

categorical_preprocessor = OneHotEncoder(handle_unknown='ignore', sparse=False)
preprocessor = ColumnTransformer([('categorical', categorical_preprocessor, categorical_column)], remainder='passthrough')
model = make_pipeline(preprocessor, HistGradientBoostingClassifier())
cv_result = cross_validate(model,data,target)
cv_result

{'fit_time': array([3.66681075, 3.59259176, 3.54879737, 3.85077429, 3.97472668]),
 'score_time': array([0.24810314, 0.12551618, 0.14622188, 0.12290215, 0.17382073]),
 'test_score': array([0.87276077, 0.87214659, 0.87387387, 0.87356675, 0.8762285 ])}

### Remainder 하고 안하고에 따라 4% 정도 정확도가 차이난다.

![photo](data/8.png)