In [1]:
import pandas as pd

penguins = pd.read_csv('data/penguins_classification.csv')
penguins

     Culmen Length (mm)  Culmen Depth (mm)    Species
0                  39.1               18.7     Adelie
1                  39.5               17.4     Adelie
2                  40.3               18.0     Adelie
3                  36.7               19.3     Adelie
4                  39.3               20.6     Adelie
..                  ...                ...        ...
337                55.8               19.8  Chinstrap
338                43.5               18.1  Chinstrap
339                49.6               18.2  Chinstrap
340                50.8               19.0  Chinstrap
341                50.2               18.7  Chinstrap

[342 rows x 3 columns]

In [2]:
penguins.columns = ['leng', 'depth','species']

In [6]:
from sklearn.model_selection import train_test_split
data_train, data_test, target_train, target_test = train_test_split(penguins.drop(columns='species'), penguins['species'])