In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
import plotly.express as px
import geopandas

# station 정보
station = pd.read_csv('D:\git_local_repository\data_for_project\seoul_bike\seoul_bike_station_01_12.csv',encoding='CP949',index_col=0)
station.rename(columns={'대여소 번호' : 'id'}, inplace=True)


#plotly continuous_color
continuous_color = pd.read_csv('data/plotly_continuous_color_codes.csv')

##생활권 분석
### 가설
1. 해당 대여소가 몰리는 곳인지 퍼지는 곳인지 분류할 수 있음
    - 몰리는 곳에 대한 정의는 ? 다양한 대여소에서 온다. 나가는 따릉이보다 들어가는 따릉이가 더 많다.
    
    - 지역구간 단방향 이동인지 양방향 이동인지 파악 할 수 있음. 어느정도 범위는 양방향이고 음수이면 왼쪽방향 양수이면 오른쪽 방향이라는 걸 알 수 있겠지? 
    - 몰리는 곳 설정 + 흐름을 합치면 뭔가 재밌는 그림이 나올거 같다는 생각이다.
    => 기상 흐름도를 채용하면 되지 않을까?

<br>

1. 어디가 생활반경인지 보다는 물리적으로 지역임에도 심리가 먼 지역이 어디인지를 보는데 초점을 맞춤. 
    - 뭐가 됐던 사람들이 가지는 근처 지역에 대한 심리가 실제로 얼추 맞는지 살펴보면 되지 않을까?
    
    - 심리가 먼 지역에 대한 정의는? 물리적으로 가까움에도 top 20에 포함되지 않은 지역 (top10,top20,top50 다 생각해보자)
    - 20분~ 30분 거리를 등고선으로 하면 활동 범위를 알 수 있으려나? 아무리 가까워도 안가는 곳이라면 20-30분 거리로 넓혀봤자 포함안된다.

<br>


1. 따릉이로 안가본 서울 도심 체험하기
    - 본인이 주로 애용하는 대여소를 기점으로 사람들이 자주 가는 순으로 여행지를 택할 수 있게 하자.
    - 많은 사람들이 이용한다는 말은 그만큼 따릉이로 이동하기 어렵지 않다는 말
  
    - 방법

        1.원하는 따릉이 대여소 검색

        2.table로 선택 되면 그롷게 하고 안되면 드롭다운 방식으로 보여주기

        3.선택하면 collector로 올라가게 함

        4.추천 여행지 우측 테리블에 정렬
        
        5.클릭하면 해당 지역으로 이동

<br>


1. 따릉이로 최적 거리 이동하기
    - 내가 A대여소에서 어느 지점으로 간다고 지역을 누르면 반경에 있는 따릉이 대여소 몇 군데를 골라 예상 운행 시간을 알려준다.
      
      사람들이 가장 많이 이용한 대여소 또는 최단 거리가 걸리는 대여소를 알려주면 될 듯
      
    - 많은 사람들이 이용한다는 말은 그만큼 따릉이로 이동하기 어렵지 않다는 말
    - 지도앱 예상 시간과 따릉이 이용 예상시간 차이는 매우 크다. 
  
    -  따릉이로 가기 좋은 길인지, 얼마정도 시간이 걸리는지 예상용도
        네이버 지도 예상시간은 따릉이를 이용하기엔 너무 빠르다.
    - 네이버 지도와 데이터를 바탕으로 최소 이동시간이 소요되는 지역을 추천할 수 있다.

<br>


### 필요한 사항 정리
1. 몰리는 곳 정의
예시) (여의나루 역 2번출구 => 다른 지역) 총 id 개수 와  (다른 지역 => 여의나루 역 2번 출구) 총 id 개수 비교 

    & (여의나루 2번 출구 => 다른 지역으로 이동한 따릉이 대여 개수) 와 (다른 지역에서 여의나루 2번 출구로 이동한 따릉이 개수) 비교

    * 그러려면 st_id2가 여의나루인 경우 id 개수, 따릉이 대여 대수가 필요하고 st_id1이 여의나루인 상태에서 전 지역으로 이동한 개수와 따릉이 대여 개수가 필요하겠네

    * 개수만 새는거니까 그렇게 오래 걸리지 않겠지?

    * 이때 10개,20개,30개 이상 데이터가 있는 경우 비교 하는 것도 좋고 아니면 전체 비율에서 0.005% 이상인 비율만 찾아도 될거 같다는 생각이네

<br>


2. 대여소간 이동 흐름 분석해보기 
예시)  월촌초 <=> 신목동역을 예로들면 월촌초 => 신목동 가는 횟수와 신목동 => 월촌초 가는 횟수를 비교해서 $\frac{월=>신 - 신=>월}{양방향 개수}$한다음 

    +- 0.1 내외면 양방향이고 양수면 월=> 신 방향이 많은거고 음수면 신=> 월 방향이 많은거고  0.2는 약간의 추세 0.5는 추세 0.8은 압도적 추세 이런식으로 만들면 될 것 같음.

    * top 10,20,50개 등 다양한 기준을 가지고 흐름을 만들어 보는 것도 좋을듯 = 아니면 빈도수를 30개 50개 이상 등으로 설정하면 다양한 흐름이 나오지 않을까 생각이 든다.

    * 계산은 대여소 번호 낮은것 - 높은 것으로 원칙을 정하고 한 곳에만 값을 매겨놓으면 되지 않을까? 아니면 아예 st_id1 -> st_id2 항목을 새로 만들어서 흐름만 관리해도 좋고

    * 기상 흐름도가 도움이 될까? 잘 맞는게 뭐가 있는지 한 번 봐보자. 아니면 화살표로 해봐도 될거같다. 대여소 주위에서 그 지역까지 화살표로 나가는걸로 하고 흐름이 쎈것만 opacity를 높게 주면 되지 않을까?

    * 화살표로 한다면 일단 지역 하나를 클릭하면 그 지역을 중심으로 어떻게 흐름이 발생하는지 보면 재밌을듯 만약 퍼지는 대여소라면 나가는 방향이 들어가는 방향보다 훨씬 많겠지 

    *  나가는 방향 빨간색 들어오는 방향 파란색으로 하면 뭔가 재밌을것 같다.


<br>


1. 둘이 합치고 꾸미면 뭔가 흐름을 볼 수 있지 않을까?

<br>


4. 따릉이로 심리적인 생활반경 그리기
예시) 예전에 주 활동 무대는 염창역 인근이었다면 지금 주 활동 무대는 신목동역이다. 

    사실 염창역도 그렇게 멀지 않지만 산이라는 자연 장애물 때문에 심리적으로 멀게 느껴진다. 

      다른 지역도 분명 그럴진데 따릉이 대여소가 어디를 가장 많이 가는지(top 20,30,50 등)를 분석하면 알 것 같다.

    * 개별 반경 100m < x <5km 따릉이 대여소를 개별 대여소 별로 찾는다. st_id_1과 st_id=2가 같으니 이것도 따로 표를 새로 만들면 될 것 같다.
    
    * 따릉이 이용소 top 20,50 등을 구하고 색을 다르게 하면 표현 될 것 같다.

    * density plot을 그릭 서울 전역을 확대하면 어느정도 생활권이 나오려나?

    * 위 방법 보다는 본인이 가장 애용하는 따릉이 대여소를 클릭하면 관련 생활권이 나오게 하는거 어떨까?

    * 많은 사람들에게도 물어봐보자 이스밍한테도 물어봐보자.

In [2]:
# #불러오기
# seoul_bike_1_2 = pd.read_hdf('D:\git_local_repository\data_for_project\seoul_bike\preprocessed_bike_2021.hdf5')
# seoul_bike_2_2 = pd.read_hdf('D:\git_local_repository\data_for_project\seoul_bike\preprocessed_bike_2_2.hdf5')

# seoul_bike = pd.concat([seoul_bike_1_2,seoul_bike_2_2])

# # 1분당 이동 거리(m)
# seoul_bike['m_pm'] = (seoul_bike['dist'] / (seoul_bike['riding_time'])).round(decimals=0)  # 1분당 거리 계산

# #한국에는 자전거에 미친놈들이 많은건가 아니면 오류인가
# # 선수급도 50km/h 속도가 나온다. 1분에 830미터 정도 달린다고 한다.
# # 동호회 수준에서도 30km/h면 수준급 실력이라 한다. 1분에 500m 정도 된다.
# # 4745948, 도심 한가운데서 분당 1000m의 속도로 54키로를 달리는게 말이되나.. 54km면 여의도 공원 => 잠원 한강공원을 왕복하고도 다시 출발해 절반은 더 가야된다.
# # 이게 말이되나.. 

# # 결론
# # 1분당 거리 계산 (1분당 400미터 이상인 경우 error로 간주)

# seoul_bike = seoul_bike.query('m_pm <= 400')

# seoul_bike

In [3]:
seoul_bike = pd.read_hdf('D:\git_local_repository\data_for_project\seoul_bike\preprocessed_bike_2021.hdf5')

,month,day,time,weekday,by_id,st_id1,st_id2,riding_time,dist,m_pm
0,7,1,22:06:23,3,32008,3,529,5,811.86,162.0
1,7,4,22:01:50,6,54743,3,540,10,2450.00,245.0
2,7,6,16:29:58,1,44516,3,520,21,3608.08,172.0
3,7,7,16:01:48,2,52532,3,540,11,2410.32,219.0
4,7,7,22:01:19,2,48736,3,646,5,1110.00,222.0
...,...,...,...,...,...,...,...,...,...,...
12553259,6,30,22:17:13,2,50599,2034,2511,184,33556.76,182.0
12553260,6,30,22:35:22,2,52856,839,839,168,14015.63,83.0
12553261,6,30,22:11:24,2,34248,126,126,198,20291.54,102.0
12553262,6,30,22:13:31,2,39250,4867,2383,196,12566.53,64.0
12553263,6,30,22:06:46,2,37897,2070,2065,203,1561.31,8.0

,month,day,time,weekday,by_id,st_id1,st_id2,riding_time,dist,m_pm
0,7,1,22:06:23,3,32008,3,529,5,811.86,162.0
1,7,4,22:01:50,6,54743,3,540,10,2450.00,245.0
2,7,6,16:29:58,1,44516,3,520,21,3608.08,172.0
3,7,7,16:01:48,2,52532,3,540,11,2410.32,219.0
4,7,7,22:01:19,2,48736,3,646,5,1110.00,222.0
...,...,...,...,...,...,...,...,...,...,...
12553259,6,30,22:17:13,2,50599,2034,2511,184,33556.76,182.0
12553260,6,30,22:35:22,2,52856,839,839,168,14015.63,83.0
12553261,6,30,22:11:24,2,34248,126,126,198,20291.54,102.0
12553262,6,30,22:13:31,2,39250,4867,2383,196,12566.53,64.0
12553263,6,30,22:06:46,2,37897,2070,2065,203,1561.31,8.0

In [5]:
seoul_bike.to_hdf('D:\git_local_repository\data_for_project\seoul_bike\seoul_bike_2021.hdf5',key='seoul_bike_2021')

C:\Users\679oo\AppData\Local\Temp\ipykernel_25144\2366362948.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->time,key->block4_values] [items->Index(['time'], dtype='object')]

  seoul_bike.to_hdf('D:\git_local_repository\data_for_project\seoul_bike\seoul_bike_2021.hdf5',key='seoul_bike_2021')

In [13]:
station[station['주소2'].str.contains('월촌초')]

,Unnamed: 0,id,주소2,주소1,지역,위도,경도,설치일
529,529,754,목동1단지아파트 118동 앞 (월촌초등학교 정류소 옆,양천구 목동서로 38,양천구,37.541142,126.876678,2018-09-27

In [65]:
# 2. 대여소간 흐름 분석 먼저 해보자 나가고 들어오는 그런 흐름을 한 번 만들어보고 싶다.

# 월촌초 앞으로 해보자.
id  = 754
n = 20
total_num_left = seoul_bike.query('st_id1==754')['st_id2'].value_counts()

total_num = total_num_left[~total_num_left.index.isin([id])]
total_num_left = total_num_left[: np.where(total_num_left > n)[0][-1]]


total_num_right = seoul_bike.query('st_id2==754')['st_id1'].value_counts()
total_num_right = total_num_right[total_num_right.index != id]
total_num_right = total_num_right[: np.where(total_num_right > n)[0][-1]]

In [66]:
# print(len(total_num_left), len(total_num_right),len(np.intersect1d(total_num_left.index,total_num_right.index)))
# pd.merge(total_num_left,total_num_right,how='inner', on='index')
result_concat = pd.concat([total_num_left,total_num_right],axis=1).dropna()
result_concat.rename(columns=dict(st_id2='1to2',st_id1='2to1'),inplace=True)

In [4]:
result_concat['flow'] = round((result_concat["1to2"] - result_concat["2to1"])/(result_concat["1to2"] + result_concat["2to1"]),2)

NameError: name 'result_concat' is not defined

In [3]:
pd.merge(result_concat,station, how='left',left_on=result_concat.index,right_on='id')

NameError: name 'result_concat' is not defined